@model string
@{
    ViewData["Title"] = "Создать роль";
}

<h1>Создать роль</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Новая роль</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="custom-red_btn form-btn">Добавить</button>
</form>

@Html.ActionLink("Назад", "Index")
