@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Список ролей</h2>
<table class="table">
    @foreach (var role in Model)
    {
            <tr>
                <td>@role.Name</td>
                <td>
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="custom-red_btn">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
    }
</table>

<div class="nav">
    <a asp-action="Create">Добавить роль</a>
    <a asp-action="UserList">Список пользователей</a>
</div>
