<div class="btn-group">
    <div>
        <a class="btn btn-link" asp-action="Index" asp-controller="Home" asp-route-filter="new">Новые</a>
    </div>
    <div>
        <a class="btn btn-link" asp-action="Index" asp-controller="Home" asp-route-filter="top">Лучшие</a>
    </div>
</div>