@using Microsoft.AspNetCore.Identity;
@inject SignInManager<CustomUser> SignInManager
@inject UserManager<CustomUser> UserManager

<div class="custom-posts_filter">
    <div class="custom-nav_btns">
        <div>
            <a class="custom-red_btn" asp-action="Index" asp-controller="Home" asp-route-filter="follow">Подписки</a>
        </div>
        <div>
            <a class="custom-red_btn" asp-action="Index" asp-controller="Home" asp-route-filter="top">Лучшие</a>
        </div>
        <div>
            <a class="custom-red_btn" asp-action="Index" asp-controller="Home" asp-route-filter="new">Новые</a>
        </div>
        <div>
            <a class="custom-red_btn" asp-action="Index" asp-controller="Home" asp-route-filter="popular">Популярные</a>
        </div>
    </div>
        <div>
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="custom-red_btn" asp-action="CreatePost" asp-controller="Home">Сделать пост</a>
        }
        else
        {
            <a class="custom-red_btn" asp-area="Identity" asp-page="/Account/Register">Сделать пост</a>
        }
        </div>
    
</div>