<div class="custom-posts_filter">
    <div class="custom-nav_btns">
        <div>
            <a class="custom-red_btn" asp-action="Index" asp-controller="Home" asp-route-filter="follow">Подписки</a>
        </div>
        <div>
            <a class="custom-red_btn" asp-action="Index" asp-controller="Home" asp-route-filter="top">Лучшие</a>
        </div>
        <div>
            <a class="custom-red_btn" asp-action="Index" asp-controller="Home" asp-route-filter="new">Новые</a>
        </div>
        <div>
            <a class="custom-red_btn" asp-action="Index" asp-controller="Home" asp-route-filter="popular">Популярные</a>
        </div>
    </div>
        <div>
            <a class="custom-red_btn" asp-action="Index" asp-controller="Home">Сделать пост</a>
        </div>
    
</div>