@using Microsoft.AspNetCore.Components
@inject CourseWorkSpring2023.ClientServerBlazor.BlazorCallsHandler server

@{
    FollowedBtnClass = IsFollowed ? "custom-followed" : "custom-not_followed";
    BtnText = IsFollowed ? "Отписаться" : "Отслеживать";
}
<a class="custom-red_btn @FollowedBtnClass" @onclick="Click">@BtnText</a>


@code {
    [Parameter]  
    public string ActiveUserId { get; set; } = string.Empty;

    [Parameter]
    public string FollowedUserId { get; set; }

    [Parameter]
    public bool IsFollowed { get; set; }

    [Parameter]
    public string FollowedBtnClass { get; set; }

    [Parameter]
    public string BtnText { get; set; }

    private void Click()
    {
        if (!IsFollowed)
        {
            FollowedBtnClass = "custom-followed";
            IsFollowed = true;
            BtnText = "Отписаться";
            server.Follow(ActiveUserId, FollowedUserId);
        }
        else
        {
            FollowedBtnClass = "custom-not_followed";
            IsFollowed = false;
            BtnText = "Отслеживать";
            server.UnFollowUser(ActiveUserId, FollowedUserId);
        }
        
     }
 }   