@using Microsoft.AspNetCore.Components
@inject CourseWorkSpring2023.ClientServerBlazor.BlazorCallsHandler server

<a class="custom-red_btn" @onclick="Click">Отслеживать</a>


@code {
    [Parameter]  
    public string ActiveUserId { get; set; } = string.Empty;

    [Parameter]
    public string FollowedUserId { get; set; }

    private void Click()
    {
        server.Follow(ActiveUserId, FollowedUserId);
     }
 }   