@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject ClientServerBlazor.BlazorCallsHandler server

<div class="custom-moder_tools">

    
    @{
        btnText = IsHidden ? "Показать" : "Скрыть";
    }

    <button class="custom-red_btn" @onclick="ShowHide">@btnText</button>
    
    <button class="custom-red_btn" @onclick="Delete">Удалить</button>
</div>


@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string ContentType { get; set; }

    [Parameter]
    public bool IsHidden { get; set; }

    [Parameter]
    public string btnText { get; set; }

    public void ShowHide()
    {
        if (IsHidden)
        {
            JSRuntime.InvokeVoidAsync("Show", Id);
            btnText = "Показать";
            server.Show(Id);
            IsHidden = !IsHidden;
        }
        else
        {
            JSRuntime.InvokeVoidAsync("Hide", Id);
            btnText = "Скрыть";
            server.Hide(Id);
            IsHidden = !IsHidden;
        }
    }

    public void Delete()
    {
        if(ContentType == "comment")
        {
            server.DeleteComment(Id);
        }
        if(ContentType == "post")
        {
            server.DeletePost(Id);
        }
    }

}
