@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h2>Управляйте вашим профилем</h2>

<div>
    <hr />
    <div class="custom-manage_container">
        <div class="custom-nav">
            <partial name="_ManageNav" />
        </div>
        <div class="custom-manage">
            @RenderBody()
        </div>
    </div>
</div>

@section AddToHead{
    <link rel="stylesheet" href="~/css/manage_account.css"/>
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}
