@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Удаление аккаунта";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

        <p>
            <strong>Удаление этих данных навсегда удалит вашу учетную запись, и это невозможно восстановить.</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData">Удалить аккаунт</a>
        </p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}