@model int
<div data-id="@Model">
   <p>id - @Model.ToString()</p>
   <button class="moder_btn_hide">hide</button>
   <button class="moder_btn_delete">delete</button>
   <button class="moder_btn_unhide">unhide</button>
</div>
