@using CourseWorkSpring2023.Custom;
@using CourseWorkSpring2023.Models.HomeViewModels;
@model HomeViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="posts-container">
    @foreach (var post in Model.Posts)
    {
        <div>
            Пользователь
            @post.User.NickName
            <br>
            Заголовок
            @post.Header
            <br>
            Текст
            @post.Text
        </div>
    }
</div>