@model UserViewModel

<h1>@Model.NickName</h1>

<img src="@Model.AvatarImagePath" width="100" height="100"/>

<!--
    <a class="custom-red_btn" asp-action="Follow" asp-route-userId="@Model.Id">&lt;3</a>
-->
