@page
@model LoginModel

@{
    ViewData["Title"] = "Войти";
}


    <div class="custom-login_container">
             <h1>@ViewData["Title"]</h1>
             <hr>
             <div class="custom-form_container">
            <form class="custom-form" id="account" method="post">
                <h2>Профиль</h2>
                
                <div class="c_input">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="c_input">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <button type="submit" class="custom-red_btn">Войти</button>
                 <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Создать аккаунт</a>
            </form>
            </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
