@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}



    <div class="">
        <h1>@ViewData["Title"]</h1>
        <hr>
        <div class="custom-form_container">
            <form class="custom-form" asp-route-returnUrl="@Model.ReturnUrl" method="post"  enctype='multipart/form-data'>
            <h2>Создайте аккаунт</h2>

            <div class="custom-preview">
                <img id="preview" src="~/icons/Avatar.png"/>
            </div>
            <div class="c_input">
                <label for="avatar">Загрузите картинку для профиля</label>
                <input id="avatar" name="avatar" class="form-control" type="file" />
                <span id="Input_avatar-error" class="text-danger"></span>
            </div>
            <div class="c_input">
                <label asp-for="Input.NickName"></label>
                <input asp-for="Input.NickName" class="form-control" />
                <span asp-validation-for="Input.NickName" class="text-danger"></span>
            </div>
            <div class="c_input">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="c_input">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="c_input">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="custom-red_btn">Регистрация</button>
        </form>
        </div>
        
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
