h1 {
    font-family: 'Oswald', sans-serif;
}


.custom-post_strip {
    background: black;
    width: 100%;
    position: fixed;
    top: 68px;  
    left: 0;
    z-index: 12;
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 0.4rem;
}

.custom-post_strip .custom-rate-btns{
    flex-direction: row;
    gap: 1rem;
}

.custom-post_strip .custom-rate-btns img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(340deg) brightness(106%) contrast(101%);
}

.custom-post_strip div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.custom-post_strip .custom-strip_author{
    gap: 0.2rem;
}

.custom-post_strip a{
    text-decoration: none;
    color:#FCF7F4;
}

.custom-posts_container{
    margin-top:8rem;
}

.custom-post_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-post_text {
    font-family: 'Lora', serif;
    font-size: 18px;
    margin-bottom: 5rem;
}

.trumbowyg{
    margin-bottom: 2rem;
}

.custom-comment_section{
    margin-top: 2rem;
}

.custom-comment {
    display: flex;
    border: 1px #980110 solid;
    width: 100%;
    gap: 2.5rem;
    margin-bottom: 0.5rem;
}

.custom-comment_info {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
    align-items: center;
    margin-bottom: 0.3rem;
}
.custom-comment_info a{
    text-decoration: none;
    color: #980110;
}

.custom-comment_info img{
    width: 40px;
    height: 40px;
}