@model CourseWorkSpring2023.Models.IndexViewModel.PostViewModel

@{
    ViewData["Title"] = "CreatePost";
}
<link rel="stylesheet" href="~/lib/Trumbowyg/dist/ui/trumbowyg.min.css">
<h1>Создайте пост</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="CreatePost" method="post">
            <div class="form-group">
                <label asp-for="Header" class="control-label"></label>
                <input asp-for="Header" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="RawText" class="form-control"></textarea>
                <span asp-validation-for="RawText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Запостить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="User" asp-action="UserMainPage">Вернутся на главную</a>
</div>

@section scripts{
    <script src="~/lib/Trumbowyg/dist/trumbowyg.min.js"></script>
    <script src="~/lib/Trumbowyg/dist/langs/ru.js"></script>
    <script>
        $('#RawText').trumbowyg({
            lang: 'ru',
            tagsToRemove: ['script', 'link'],
            autogrow: true,
            autogrowOnEnter: true
        });
    </script>
}
