@model CourseWorkSpring2023.Models.IndexViewModel.PostViewModel

@{
    ViewData["Title"] = "CreatePost";
}

<h1>Создайте пост</h1>

<hr />
<div class="custom-post_form">
        <form asp-action="CreatePost" method="post">
            <div class="title">
                <label asp-for="Header"></label>
                <input class="custom-post_form_title" asp-for="Header"/>
                <span asp-validation-for="Header"></span>
            </div>
            <div class="text">
                <label class="label_text" asp-for="RawText"></label>
                <textarea asp-for="RawText"></textarea>
                <span asp-validation-for="RawText"></span>
            </div>
            <div class="btns">
                <input type="submit" value="Запостить" class="custom-red_btn create_post" />
                 <a class="custom-red_btn" asp-controller="User" asp-action="UserMainPage">Вернутся на главную</a>
            </div>
        </form>
</div>

@section scripts{
    <script src="~/lib/Trumbowyg/dist/trumbowyg.min.js"></script>
    <script src="~/lib/Trumbowyg/dist/langs/ru.js"></script>
    <script>
        $('#RawText').trumbowyg({
            lang: 'ru',
            tagsToRemove: ['script', 'link'],
            autogrow: true,
            autogrowOnEnter: true
        });
    </script>
}


@section AddToHead{
    <link rel="stylesheet" href="~/lib/Trumbowyg/dist/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="~/css/create_post.css"/>
}