
<div>
    <a class="component-post_filter_btn custom-red_btn">Лучшие</a>

<div class="component-post_filter">
    <a class="custom-red_btn" asp-action="Index" asp-controller="Posts" asp-route-filter="top" asp-route-days="1">За день</a>
    <a class="custom-red_btn" asp-action="Index" asp-controller="Posts" asp-route-filter="top" asp-route-days="3">За три дня</a>
    <a class="custom-red_btn" asp-action="Index" asp-controller="Posts" asp-route-filter="top" asp-route-days="7">За неделю</a>
</div>

</div>